{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>KMUTNB Engineer's Announcements</title>
<head>
<meta charset='UTF-8'>
<meta name='description' content="Engineer's annoucement">
<meta name='keywords' content='HTML,CSS,XML,JavaScript'>
<meta name='author' content="KMUTNB's student">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href="{% static "FrontEnd/w3.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/w3-theme-black.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/Roboto.css" %}"
<link rel='stylesheet' href="{% static "FrontEnd/font-awesome/css/font-awesome-min.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/Font/Pridi-font.css" %}">


</head>
<style>


input[type=searchform] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('pic/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    
}
html,body,h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif}
.w3-sidenav a,.w3-sidenav h4{padding:12px;}
.w3-navbar a{padding-top:12px !important;padding-bottom:12px !important;}
</style>
<body  onload='changepages(1)'>
<!-- Navbar -->
<ul class='w3-navbar w3-theme w3-top w3-left-align w3-large w3-bottombar w3-border-red' style='z-index:4;'>
  <li class='w3-opennav w3-right w3-hide-large'>
    <a class='w3-hover-white w3-large w3-theme-l1' href='javascript:void(0)' onclick='sidenav_open()'><i class='fa fa-bars'></i></a>
  </li>
  <li><a href='#' class='w3-theme-l1' onclick='changepages(1)'>Home</a></li>
  <!-- search on top nav-bar-->

  <li class='w3-hide-small' style='float:right;margin-right:3%'><form action='search.html'><input type='searchform' name='search' placeholder='Search..'></form></li>
</ul>


<!--login modal-->
<div id='IDlogin' class='w3-modal'>
  <div class='w3-modal-content w3-card-8 w3-animate-zoom' style='max-width:600px'>
    <div class='w3-center'><br>
      <span onclick="document.getElementById('IDlogin').style.display='none';document.getElementById('mySidenav').style.display='block';" class='w3-closebtn w3-hover-black w3-container w3-padding-8 w3-display-topright' title='Close Modal'>&times;</span>
      <img src='pic/KMUTNB-LOGO.jpg' alt='Avatar' style='width:30%' class='w3-circle w3-margin-top'>
    </div>

    <!-- login form -->

    <form class='w3-container' method='POST' action='index2.html'>
      <div class='w3-section'>
        <label><b>Username</b></label>
        <input class='w3-input w3-border w3-margin-bottom' type='text' placeholder='Enter Username' name='usrname' required>
        <label><b>Password</b></label>
        <input class='w3-input w3-border' type='password' placeholder='Enter Password' name='psw' required>
        <button class='w3-btn-block w3-green w3-section w3-padding' type='submit'>Login</button>
        
      </div>
    </form>
    <!-- forgot password ?-->
    <div class='w3-container w3-border-top w3-padding-16 w3-light-grey'>
      <span class='w3-padding w3-hide-small'>Forgot <a href='#'>password?</a></span>
      <button onclick="document.getElementById('IDlogin').style.display='none';document.getElementById('mySidenav').style.display='block'" type='button' class='w3-btn w3-red w3-right'>Cancel</button>
      
    </div>

  </div>
</div>







<!-- Sidenav for admin -->
<nav class='w3-sidenav w3-collapse w3-theme-l5 w3-animate-left' style='z-index:3;width:250px;margin-top:-20px;height:100%;' id='adminSidenav'>
  <a href='javascript:void(0)' onclick='sidenav_close()' class='w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large' title='close menu'>
    <i class='fa fa-remove'></i>
  </a>
  <h4><b>Menu</b></h4>
  <img src='pic/circleprofile.png' style='width:45%;margin-left:10px' class='w3-round'><br><br>
  <h4 class='w3-padding-50'><b>Admin01</b></h4>
  

  <!--user type-->
  <p id='user-type' class='w3-text-grey' style='margin-left:12px'>Admin</p>
  

  <!--Manage button (only appear on admin's type user login)-->
  <div class='w3-padding'><button id='Manage-btn' class='w3-btn w3-indigo w3-large' style='width:100%'>Manage Announces<img src='pic/cog.png' style='margin-left:10px;width:25px;height:25px'></img></button></div>
    <!--Manage button (only appear on admin's type user login)-->
  <div class='w3-padding'><button id='usr-manage-btn' class='w3-btn w3-indigo w3-large' style='width:100%'>Manage Users<img src='pic/cog.png' style='float:right;width:25px;height:25px'></img></button></div>

  <div class='w3-padding'><button id='post-msg-btn' class='w3-btn w3-blue w3-large' style='width:100%'>Post Message</button></div>



  <div class='w3-padding w3-hide-large w3-hide-medium'>
    <form action='search.html'>
      <input type='searchform' name='search' placeholder='Search..'>
    </form>
  </div>

  <div >
  <a href='search.html' class='w3-right-align w3-hover-black w3-padding w3-section'><i class='fa fa-search'></i>Advance search </a>
  </div>
<!--logout button-->
  <button id='Logout-btn' class='w3-btn w3-red w3-large w3-padding w3-section' style='float:right'>Logout</button>

</nav>




<!-- Sidenav for viewer -->
<nav class='w3-sidenav w3-collapse w3-theme-l5 w3-animate-left' style='z-index:3;width:250px;margin-top:-20px;height:100%;' id='viewerSidenav'>
  <a href='javascript:void(0)' onclick='sidenav_close()' class='w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large' title='close menu'>
    <i class='fa fa-remove'></i>
  </a>
  <h4><b>Menu</b></h4>
  <img src='pic/circleprofile.png' style='width:45%;margin-left:10px' class='w3-round'><br><br>
  
  <!--User name default is student's IDnumber or teacher's IDnumber-->
  <h4 class='w3-padding-50'><b>5501012630222</b></h4>
  <!--user type-->
  <p id='user-type' class='w3-text-grey' style='margin-left:12px'>Viewer (teacher/student)</p>
  
  
  <div class='w3-padding'><button id='edit-account-btn' class='w3-btn w3-indigo w3-large' style='width:100%'>Edit Account<img src='pic/cog.png' style='float:right;width:25px;height:25px'></img></button></div>

  <div class='w3-padding'><button id='post-msg-btn' class='w3-btn w3-blue w3-large' style='width:100%'>Post Message</button></div>



  <div class='w3-padding w3-hide-large w3-hide-medium'>
    <form action='search.html'>
      <input type='searchform' name='search' placeholder='Search..'>
    </form>
  </div>

  <div >
  <a href='search.html' class='w3-right-align w3-hover-black w3-padding w3-section'><i class='fa fa-search'></i>Advance search </a>
  </div>
<!--logout button-->
  <button id='Logout-btn' class='w3-btn w3-red w3-large w3-padding w3-section' style='float:right'>Logout</button>

</nav>








<!-- Overlay effect when opening sidenav on small screens -->
<div class='w3-overlay w3-hide-large' onclick='sidenav_close()' style='cursor:pointer' title='close side menu' id='myOverlay'></div>

<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class='w3-main' style='margin-left:250px'>
  <div class='w3-row-padding' style='margin-top:70px'>
    
  </div>
  <header class='w3-container'>



    <!--Tags select-->
    <h1><b>หัวข้อข่าวสารและประกาศ</b></h1>
    <div class='w3-section w3-bottombar w3-padding-16'>
      <span class='w3-margin-right w3-hide-small'>Filter:</span>
      <button id='ALL-tag' class='w3-btn w3-hide-small'>All</button>
      <button id='' class='w3-btn w3-white w3-hide-small'>ประกาศภาควิชา</button>
      <button class='w3-btn w3-white w3-hide-small'>ประกาศกิจกรรม</button>
      <button class='w3-btn w3-white w3-hide-small'>ประกาศทั่วไป</button>
      <button class='w3-btn w3-white w3-hide-small'>ประกาศรับสมัครงาน/ฝึกงาน</button>
    </div>
  </header>


  <div id='announce' >
    <!-- First Grid-->

  </div>


  <!-- Pagination -->
  <div class='w3-center w3-padding-64'>

    <ul id='pagination' class='w3-pagination'>
      <li><a onclick='changepages(1)' class='w3-black' href='#'>1</a></li>
      <li><a onclick='changepages(2)' class='w3-hover-black' href='#'>2</a></li>
      <li><a onclick='changepages(3)' class='w3-hover-black' href='#'>3</a></li>
      <li><a onclick='changepages(4)' class='w3-hover-black w3-hide-small' href='#'>4</a></li>
      <li><a onclick='changepages(0)' class='w3-hover-black' href='#'>»</a></li>
    </ul>
  </div>

  <footer id='myFooter'>
    <div class='w3-container w3-theme-l2 w3-padding-32'>
      <h4>Footer</h4>
    </div>

    <div class='w3-container w3-theme-l1'>
      <p>Designed by Puwanai</p>
    </div>
  </footer>





<div id='search01' class='w3-modal'>
  <div class='w3-modal-content w3-card-8 w3-section'>
    <header class='w3-container w3-white'>
      <span onclick="document.getElementById('search01').style.display='none'"
      class='w3-closebtn'>&times;</span>
      <h2>Search</h2>
    </header>
    <div class='w3-container'>
      <p>
<label class='w3-label w3-text-black'><b></b></label>
<input class='w3-input w3-border w3-white' name='first' type='text'></p>
    </div>
    <footer class='w3-container w3-white'>
      
<p class='w3-right-align'>
<button class='w3-btn w3-teal' onclick="document.getElementById('search01').style.display='none'" >Submit</button></p>
    </footer>
  </div>
</div>



<!-- END MAIN -->
</div>

<script>

function changepages(pagenum) {
  var out1 = '';
  var out2 = '';
  var afterout = '';
  if (pagenum != 0) {
  for (var i = 1+((pagenum-1)*6); i <= 3+((pagenum-1)*6); i++) {
    if (i<=23) {
    out1 += "<div class='w3-third w3-container w3-margin-bottom w3-border w3-hover-border-red'><a href='#'><img src='pic/" + i + ".png' alt='Annouce1' style='width:100%' class='w3-hover-opacity'></a><div class='w3-container w3-white'><p><b>" + i + "</b></p><p>รายละเอียดของประกาศที่หนึ่ง.</p></div></div>";
    };
    if ((i+3)<=23) {
    out2 += "<div class='w3-third w3-container w3-margin-bottom w3-border w3-hover-border-red'><a href='#'><img src='pic/" + (i+3) + ".png' alt='Annouce1' style='width:100%' class='w3-hover-opacity'></a><div class='w3-container w3-white'><p><b>" + (i+3) + "</b></p><p>รายละเอียดของประกาศที่หนึ่ง.</p></div></div>";
    };
  };
    document.getElementById('announce').innerHTML = "<div class='w3-row-padding'>" + out1 + "</div>" + "<div class='w3-row-padding'>" + out2 + "</div>";
  };

}


// Script to open and close the sidenav
function sidenav_open() {
    document.getElementById('adminSidenav').style.display = 'block';
    document.getElementById('myOverlay').style.display = 'block';
}
function sidenav_close() {
    document.getElementById('adminSidenav').style.display = 'none';
    document.getElementById('myOverlay').style.display = 'none';
}
//

document.getElementById("Manage-btn").onclick = function () {
        location.href = "manage.html";
    };

document.getElementById("usr-manage-btn").onclick = function () {
        location.href = "usr_manage.html";
    };

document.getElementById("edit-account-btn").onclick = function () {
        location.href = "edit_account.html";
    };
document.getElementById("Logout-btn").onclick = function () {
        location.href = "index2.html";
};

</script>

</body>
</html>


