{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>KMUTNB Engineer's Announcements</title>
<head>
<meta charset='UTF-8'>
<meta name='description' content='Free Web tutorials'>
<meta name='keywords' content='HTML,CSS,XML,JavaScript'>
<meta name='author' content='Hege Refsnes'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href="{% static 'FrontEnd/w3.css' %}">
<link rel='stylesheet' href="{% static 'FrontEnd/w3-theme-black.css' %}">
<link rel='stylesheet' href="{% static 'FrontEnd/Roboto.css' %}">
<link rel='stylesheet' href="{% static 'FrontEnd/font-awesome/css/font-awesome-min.css' %}">
<link rel='stylesheet' href="{% static 'FrontEnd/font/Pridi-font.css' %}">
</head>
<style>
input[type=searchform] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('pic/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
html,body,h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif}
.w3-sidenav a,.w3-sidenav h4{padding:12px;}
.w3-navbar a{padding-top:12px !important;padding-bottom:12px !important;}
</style>
<body >
<!-- Navbar -->
<ul class='w3-navbar w3-theme w3-top w3-left-align w3-large w3-bottombar w3-border-red' style='z-index:4;'>
  <li class='w3-opennav w3-right w3-hide-large'>
    <a class='w3-hover-white w3-large w3-theme-l1' href='javascript:void(0)' onclick='w3_open()'><i class='fa fa-bars'></i></a>
  </li>
  <li><a href='index-afterlogin.html'>Home</a></li>
  <li><a href='#' class='w3-theme-l1'> > Manage</a></li>
</ul>


<!-- Sidenav -->
<nav class='w3-sidenav w3-collapse w3-theme-l5 w3-animate-left' style='z-index:3;width:250px;margin-top:-20px' id='mySidenav'>
  <a href='javascript:void(0)' onclick='w3_close()' class='w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large' title='close menu'>
    <i class='fa fa-remove'></i>
  </a>
  <h4><b>Menu</b></h4>
  <img src="{% static 'FrontEnd/pic/circleprofile.png'%}" style='width:45%;margin-left:10px' class='w3-round'><br><br>
  <h4 class='w3-padding-50'><b>Admin01</b></h4>
  <!--user type-->
  <p id='user-type' class='w3-text-grey' style='margin-left:12px'>Admin</p>
  

  <!--Manage button (only appear on admin's type user login)-->
  <div class='w3-padding'><button onclick='location.href = "{% url 'newsapp:to_create_announce' %}"' class='w3-btn w3-deep-orange w3-large' style='width:100%'>Create New<img src="{% static 'FrontEnd/pic/cog.png' %}" style='margin-left:10px;width:25px;height:25px'></img></button></div>
  <div><a href="{% url 'newsapp:show_all_screen2' %}" target="frame_menu" class=' w3-hover-black w3-large'>Screen status</a></div>
  <div><a href="{% url 'newsapp:get_all_announce' %}" target="frame_menu" class=' w3-hover-black w3-large'>Program</a></div>
  <div><a href="{% url 'newsapp:view_screen' %}" target="frame_menu" class=' w3-hover-black w3-large'>Screen</a></div>




  <div class='w3-padding w3-hide-large w3-hide-medium'>
    <form action='search.html'>
      <input type='searchform' name='search' placeholder='Search..'>
    </form>
  </div>

  <div >

<!--login button-->
  <button id='Logout-btn' class='w3-btn w3-red w3-large w3-padding w3-section' style='float:right'>Logout</button>

</nav>


<!-- Overlay effect when opening sidenav on small screens -->
<div class='w3-overlay w3-hide-large' onclick='w3_close()' style='cursor:pointer' title='close side menu' id='myOverlay'></div>

<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class='w3-main' style='margin-left:250px'>
  <div class='w3-row-padding' style='margin-top:70px'>
    
  </div>
  <header class='w3-container'>



    <!--Tags select-->
  </header>

  <div id='announce' >
    <!-- First Grid-->
      <div class="embed-responsive embed-responsive-16by9" style='overflow:hidden;'>
        <iframe style="height:800px;width:100%;" frameborder="0" class="embed-responsive-item" name="frame_menu"></iframe>
      </div>
  </div>


  <!-- Pagination -->



<!-- END MAIN -->
</div>

<script>

function changepages(pagenum) {
  var out1 = "";
  var out2 = "";
  var afterout = "";
  if (pagenum != 0) {
  for (var i = 1+((pagenum-1)*6); i <= 3+((pagenum-1)*6); i++) {
    if (i<=23) {
    out1 += "<div class='w3-third w3-container w3-margin-bottom w3-border w3-hover-border-red'><a href='#'><img src='pic/" + i + ".png' alt='Annouce1' style='width:100%' class='w3-hover-opacity'></a><div class='w3-container w3-white'><p><b>" + i + "</b></p><p>รายละเอียดของประกาศที่หนึ่ง.</p></div></div>";
    };
    if ((i+3)<=23) {
    out2 += "<div class='w3-third w3-container w3-margin-bottom w3-border w3-hover-border-red'><a href='#'><img src='pic/" + (i+3) + ".png' alt='Annouce1' style='width:100%' class='w3-hover-opacity'></a><div class='w3-container w3-white'><p><b>" + (i+3) + "</b></p><p>รายละเอียดของประกาศที่หนึ่ง.</p></div></div>";
    };
  };
    document.getElementById('announce').innerHTML = "<div class='w3-row-padding'>" + out1 + "</div>" + "<div class='w3-row-padding'>" + out2 + "</div>";
  };

}


// Script to open and close the sidenav
function w3_open() {
    document.getElementById('mySidenav').style.display = 'block';
    document.getElementById('myOverlay').style.display = 'block';
}
 
function w3_close() {
    document.getElementById('mySidenav').style.display = 'none';
    document.getElementById('myOverlay').style.display = 'none';
}



</script>

</body>
</html>


