{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>KMUTNB Engineer's Announcements</title>
<head>
<meta charset='UTF-8'>
<meta name='description' content="Engineer's annoucement">
<meta name='keywords' content='HTML,CSS,XML,JavaScript'>
<meta name='author' content="KMUTNB's student">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
<script src="{% static "js/search-jquery.js" %}"></script>
<script src="{% static "pickadate/lib/picker.js" %}"></script>
<script src="{% static "pickadate/lib/picker.time.js" %}"></script>
<script src="{% static "pickadate/lib/picker.date.js" %}"></script>
<script src="{% static "pickadate/lib/legacy.js" %}"></script>

<link rel="stylesheet" href="{% static "bootstrap-3.3.6/dist/css/bootstrap.min.css" %}">
<script src="{% static "bootstrap-3.3.6/dist/js/bootstrap.min.js" %}"></script>

<link rel='stylesheet' href="{% static "FrontEnd/w3.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/w3-theme-black.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/Roboto.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/font-awesome/css/font-awesome-min.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/Font/Pridi-font.css" %}">
<link rel="stylesheet" href="{% static "pickadate/lib/themes/default.css" %}">
<link rel="stylesheet" href="{% static "pickadate/lib/themes/default.time.css" %}">
<link rel="stylesheet" href="{% static "pickadate/lib/themes/default.date.css" %}">

</head>
<style>
.inlineinput div {
    display: inline;
}

input[type=searchform] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('{% static "FrontEnd/pic/searchicon.png" %}');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    
}
html,body,h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif}
.w3-sidenav a,.w3-sidenav h4{padding:12px;}
.w3-navbar a{padding-top:12px !important;padding-bottom:12px !important;}
</style>
{% if authen %}
 <body onload="document.getElementById('IDlogin').style.display='block';">
{% else %}
<body>
{% endif %}









<!-- Navbar -->
<ul class='w3-navbar w3-theme w3-top w3-left-align w3-large w3-bottombar w3-border-red' style='z-index:4;'>
{% if is_admin %}
  <li class='w3-opennav w3-right w3-hide-large'>
    <a class='w3-hover-white w3-large w3-theme-l1' href='javascript:void(0)' onclick='adminsidenav_open()'><i class='fa fa-bars'></i></a>
  </li>
{% elif is_viewer %}
<li class='w3-opennav w3-right w3-hide-large'>
    <a class='w3-hover-white w3-large w3-theme-l1' href='javascript:void(0)' onclick='viewersidenav_open()'><i class='fa fa-bars'></i></a>
  </li>
{% else %}
<li class='w3-opennav w3-right w3-hide-large'>
    <a class='w3-hover-white w3-large w3-theme-l1' href='javascript:void(0)' onclick='visitorsidenav_open()'><i class='fa fa-bars'></i></a>
  </li>
{% endif %}
  <li><a href='{% url "viewer:main_page" %}' class='w3-theme-l1' onclick='changepages(1)'>Home</a></li>
  <!-- search on top nav-bar-->

</ul>


<!-- Sidenav -->
{% if is_admin %}
<!-- Sidenav for admin -->
<nav class='w3-sidenav w3-collapse w3-theme-l5 w3-animate-left' style='z-index:3;width:250px;margin-top:-20px;height:95%;' id='adminSidenav'>
  <a href='javascript:void(0)' onclick='adminsidenav_close()' class='w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large' title='close menu'>
    <i class='fa fa-remove'></i>
  </a>
  <h4><b>Menu</b></h4>
  <img src='{{viewer.picture.url}}' style='width:45%;margin-left:10px' class='w3-round'><br><br>
  <h4 class='w3-padding-50'><b>{{viewer.user.username}}</b></h4>
  

  <!--user type-->
  <p id='user-type' class='w3-text-grey' style='margin-left:12px'>Admin</p>
  

  <!--Manage button (only appear on admin's type user login)-->
  <div class='w3-padding'><button onclick="location.href='{% url "newsapp:show_all_screen" %}'" id='Manage-btn' class='w3-btn w3-indigo w3-large' style='width:100%'>Manage Announces<img src="{% static "FrontEnd/pic/cog.png" %}" style='margin-left:10px;width:25px;height:25px'></img></button></div>
    <!--Manage button (only appear on admin's type user login)-->
  <div class='w3-padding'><button onclick="location.href='{% url "viewer:list_viewer" %}'" id='usr-manage-btn' class='w3-btn w3-indigo w3-large' style='width:100%'>Manage Users<img src="{% static "FrontEnd/pic/cog.png" %}" style='margin-left:10px;width:25px;height:25px'></img></button></div>
  
  <div class='w3-padding'><button data-toggle="modal" data-target="#postModal" id='post-msg-btn' class='w3-btn w3-blue w3-large' style='width:100%'>Post Message</button></div>
  
  <div >
  <a href="{% url 'newsapp:to_search' %}" class='w3-right-align w3-hover-black w3-padding w3-section'><i class='fa fa-search'></i>Advance search </a>
  </div>
<!--logout button-->
  <a class="w3-btn w3-red w3-large w3-section" style="float:right" href="{% url 'viewer:logout' %}">Logout</a>

</nav>


{% elif is_viewer %}
<!-- Sidenav for viewer -->
<nav class='w3-sidenav w3-collapse w3-theme-l5 w3-animate-left' style='z-index:3;width:250px;margin-top:-20px;height:95%;' id='viewerSidenav'>
  <a href='javascript:void(0)' onclick='viewersidenav_close()' class='w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large' title='close menu'>
    <i class='fa fa-remove'></i>
  </a>
  <h4><b>Menu</b></h4>

  <img src='{{viewer.picture.url}}' style='width:45%;margin-left:10px' class='w3-round'><br><br>
  <h4 class='w3-padding-50'><b>{{viewer.user.username}}</b></h4>
  <!--user type-->
  <p id='user-type' class='w3-text-grey' style='margin-left:12px'>Viewer (teacher/student)</p>
  
  
  <div class='w3-padding'><button onclick="location.href='{% url "viewer:to_edit_viewer" viewer.id %}'" id='edit-account-btn' class='w3-btn w3-indigo w3-large' style='width:100%'>Edit Account<img src="{% static "FrontEnd/pic/cog.png" %}" style='width:25px;height:25px'></img></button></div>
  {% if allow_post %}
  <div class='w3-padding'><button data-toggle="modal" data-target="#postModal" id='post-msg-btn' class='w3-btn w3-blue w3-large' style='width:100%'>Post Message</button></div>
  {% endif %}
  <div >
  <a href="{% url 'newsapp:to_search' %}" class='w3-right-align w3-hover-black w3-padding w3-section'><i class='fa fa-search'></i>Advance search </a>
  </div>
<!--logout button-->
  <a class="w3-btn w3-red w3-large w3-section" style="float:right" href="{% url 'viewer:logout' %}">Logout</a>


</nav>
{% else %}
<!-- Sidenav for visitor-->
<nav class='w3-sidenav w3-collapse w3-theme-l5 w3-animate-left' style='z-index:3;width:250px;margin-top:-20px' id='visitorSidenav'>
  <a href='javascript:void(0)' onclick='visitorsidenav_close()' class='w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large' title='close menu'>
    <i class='fa fa-remove'></i>
  </a>
  <h4><b>Menu</b></h4>
  <img src="{% static "FrontEnd/pic/circleprofile.png" %}" style='width:45%;margin-left:10px' class='w3-round'><br><br>
  <h4 class='w3-padding-50'><b>Visitor</b></h4>
  <!--user type-->
  <p id='user-type' class='w3-text-grey' style='margin-left:12px'>Visitor</p>
  <!--login button-->
  <div class='w3-padding'><button onclick="document.getElementById('IDlogin').style.display='block';document.getElementById('mySidenav').style.display='none';" class='w3-btn w3-green w3-large' style='width:100%'>Login</button></div>

  <div >
  <a href="{% url 'newsapp:to_search' %}" class='w3-right-align w3-hover-black w3-padding'><i class='fa fa-search'></i>Advance search </a>
  </div>


</nav>
{% endif %}





<!-- Overlay effect when opening sidenav on small screens -->
<div class='w3-overlay w3-hide-large' onclick='sidenav_close()' style='cursor:pointer' title='close side menu' id='myOverlay'></div>

<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class='w3-main' style='margin-left:250px'>
  <div class='w3-row-padding' style='margin-top:70px'>
    
  </div>
  <header class='w3-container'>



    <!--Tags select-->
    <h1><b>Advance Search</b></h1>
    
    <div class='w3-section w3-bottombar w3-padding-16'>

      <!-- form for search -->
      <form action="{% url 'newsapp:search_news' %}" method="get">
        {% csrf_token %}
      <div id='search-name' class='w3-section'>
        <label><h3>Search by Program's name: </h3></label>
        <input style='width:50%' type="searchform" name='search_name' id='search_name'>
      
      </div>

      
        <h3>Search by Program's showed between the period: </h3>
        <div class="w3-row">
          <div class='w3-third'>
            Begin date: <input id="datepick" id='begin_date' name="begin_date" type="text" style='width:200px' class='datepicker w3-input w3-border w3-hover-border-blue begin_date' placeholder="Click to select date&hellip;">
            Begin time: <input style='width:200px' id="begin_time" class="timepicker w3-input w3-border w3-hover-border-blue" type="time" name="begin_time" placeholder="Click to select time&hellip;">
          </div>
          <div class='w3-third'>
            End date: <input id="datepick" id='end_date' name="end_date" type="text" style='width:200px' class='datepicker w3-input w3-border w3-hover-border-blue end_date' placeholder="Click to select date&hellip;">
            End time: <input style='width:200px' id="end_time" class="timepicker w3-input w3-border w3-hover-border-blue" type="time" name="end_time" placeholder="Click to select time&hellip;">
          </div>
        </div>
      <div>
        <h3>Select Screen: </h3> <!-- Drop down-->
        <select id='search_screen' class='w3-input w3-border w3-hover-border-blue' style='width:200px' name='search_screen'>
          <!-- get list of screen below instead of fixed option-->
          <option value="">all</option>
            {% for each_screen in screens %}
                <option value="{{each_screen.name}}">{{each_screen.name}}</option>
            {% endfor %}
        </select> 
      </div>

        <h3 class='w3-margin-right'>Tags: </h3>
        <div class='w3-text-grey w3-small'>*none select = all tag</div>
        <div id='select-tags' class='w3-section'>
        <p class='w3-hide-medium w3-hide-small'>
          <input class='w3-check' type='checkbox' id='tag1' name='tag1'>
          <label class='w3-validate w3-padding'>ประกาศภาควิชา</label>
          <input class='w3-check' type='checkbox' id='tag2' name='tag2'>
          <label class='w3-validate w3-padding'>ประกาศกิจกรรม</label>
          <input class='w3-check' type='checkbox' id='tag3' name='tag3'>
          <label class='w3-validate w3-padding'>ประกาศทั่วไป</label>
          <input class='w3-check' type='checkbox' id='tag4' name='tag4'>
          <label class='w3-validate w3-padding'>ประกาศรับสมัครงาน/ฝึกงาน</label>
        </p>
        <p class='w3-hide-large w3-hide-small'>
          <input class='w3-check' type='checkbox' id='tag1' name='tag1'>
          <label class='w3-validate w3-padding'>ประกาศภาควิชา</label>
          <input class='w3-check' type='checkbox' id='tag2' name='tag2'>
          <label class='w3-validate w3-padding'>ประกาศกิจกรรม</label>
        </p>
        <p class='w3-hide-large w3-hide-small'>
          <input class='w3-check' type='checkbox' id='tag3' name='tag3'>
          <label class='w3-validate w3-padding'>ประกาศทั่วไป</label>
          <input class='w3-check' type='checkbox' id='tag4' name='tag4'>
          <label class='w3-validate w3-padding'>ประกาศรับสมัครงาน/ฝึกงาน</label>
        </p>
        <p class='w3-hide-large w3-hide-medium'>
          <input class='w3-check' type='checkbox' id='tag1' name='tag1'>
          <label class='w3-validate w3-padding'>ประกาศภาควิชา</label>
        </p>
        <p class='w3-hide-large w3-hide-medium'>
          <input class='w3-check' type='checkbox' id='tag2' name='tag2'>
          <label class='w3-validate w3-padding'>ประกาศกิจกรรม</label>
        </p>
        <p class='w3-hide-large w3-hide-medium'>
          <input class='w3-check' type='checkbox' id='tag3' name='tag3'>
          <label class='w3-validate w3-padding'>ประกาศทั่วไป</label>
        </p>
        <p class='w3-hide-large w3-hide-medium'>
          <input class='w3-check' type='checkbox' id='tag4' name='tag4'>
          <label class='w3-validate w3-padding'>ประกาศรับสมัครงาน/ฝึกงาน</label>
        </p>
      </div>
      <div class='w3-padding-50px'><input class='w3-btn w3-green w3-large' type='submit' value='Search'></div>
    </form>
    </div>


    
  </header>


  <div id='announce' >
    <!-- First Grid-->
    <div class='w3-row-padding'>
    {% for page in show_news %}
      {% if forloop.counter > 0 and forloop.counter < 4 %}
        <div class='w3-third w3-container w3-margin-bottom w3-border w3-hover-border-red'>
            <a href="{{page.url}}" target="_blank" name="link_page">
            {% if page.picture %}
            <img src="{{page.picture.url}}" style="width:100%;height: 16em" class="w3-hover-opacity">
            {% endif %}
            </a>
        <!--Announce detailed below-->
        <div class='w3-container w3-white'><p><b>{{forloop.counter}}</b></p></div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
    <div class='w3-row-padding'>
    {% for page in show_news %}
      {% if forloop.counter > 3 and forloop.counter < 7 %}
        <div class='w3-third w3-container w3-margin-bottom w3-border w3-hover-border-red'>
            <a href="{{page.url}}" target="_blank" name="link_page">
            {% if page.picture %}
            <img src="{{page.picture.url}}" style="width:100%;height: 16em" class="w3-hover-opacity">
            {% endif %}
            </a>
        <!--Announce detailed below-->
        <div class='w3-container w3-white'><p><b>{{forloop.counter}}</b></p></div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
<div class="pagination_counter" id="{{pagination_counter}}"></div>
<div class="all_page_id" id="{{all_page_id}}"></div>
<div class="pagination_check" id="{{pagination_check}}"></div>
  <!-- Pagination -->
  <div name='paginate_tag'  class='w3-center w3-padding-64'>
    
    <ul id='pagination' class='w3-pagination'>
      
      {% if num_page_news.has_previous %}{% endif %}
        <li><a name="previous_page" class='w3-hover-black' href="#">previous</a></li>
      

      <li><a name="num_of_all" class="w3-hover-white">Page {{num_page_news.number}} of {{num_page_news.paginator.num_pages}}</a></li>
      
      {% if num_page_news.has_next %}
        <li><a name="next_page" class='w3-hover-black' href="#">next</a></li>
      {% endif %}

    </ul>


  </div>

  <footer id='myFooter'>
    <div class='w3-container w3-theme-l2 w3-padding-32'>
      <h4>Footer</h4>
    </div>

    <div class='w3-container w3-theme-l1'>
      <p>Designed by Puwanai</p>
    </div>

  </footer>


    <div id='eeeio'></div>
<!-- Login Modal -->
<div id='IDlogin' class='w3-modal'>
  <div class='w3-modal-content w3-card-8 w3-animate-zoom' style='max-width:600px'>
    <div class='w3-center'><br>
      <span onclick="document.getElementById('IDlogin').style.display='none';document.getElementById('mySidenav').style.display='block';" class='w3-closebtn w3-hover-black w3-container w3-padding-8 w3-display-topright' title='Close Modal'>&times;</span>
      <img src="{% static "FrontEnd/pic/KMUTNB-LOGO.jpg" %}" alt='Avatar' style='width:30%' class='w3-circle w3-margin-top'>
    </div>

    <!-- login form -->

    <form class='w3-container' method='POST' action="{% url 'viewer:new' %}">
    {% csrf_token %}
      <div class='w3-section'>
        <label><b>Username</b> {% if authen %}<p class="w3-text-red">{{authen}}</p>{% endif %}</label>
        <input class='w3-input w3-border w3-margin-bottom' type='text' placeholder='Enter Username' name='username' required>
        <label><b>Password</b></label>
        <input class='w3-input w3-border' type='password' placeholder='Enter Password' name='password' required>
        <button class='w3-btn-block w3-green w3-section w3-padding' type='submit'>Login</button>
        
      </div>
    </form>
    <!-- forgot password ?-->
    <div class='w3-container w3-border-top w3-padding-16 w3-light-grey'>
      <span class='w3-padding w3-hide-small'>Forgot <a href='#'>password?</a></span>
      <button onclick="document.getElementById('IDlogin').style.display='none';document.getElementById('mySidenav').style.display='block'" type='button' class='w3-btn w3-red w3-right '>Cancel</button>
      
    </div>

  </div>
</div>
<!-- END MAIN -->
</div>

<!-- END MAIN -->
</div>

  <!-- Modal post message -->
  <div id="postModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Post message</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
          <form action="{% url 'messageapp:posted' %}" method="post">
            {% csrf_token %}
            <label for="email">message:</label>
            <input name="message" type="text" class="form-control" id="email" required="Please fill some text.">
          </div>
        </div>
        <div class="modal-footer">
          <button name="post_button" type="submit" id="" class="btn btn-success">Post</button>
          </form>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

  </div>
  </div>

<script>

// Script to open and close the sidenav
function sidenav_open() {
    document.getElementById('mySidenav').style.display = 'block';
    document.getElementById('myOverlay').style.display = 'block';
}
 
function sidenav_close() {
    document.getElementById('mySidenav').style.display = 'none';
    document.getElementById('myOverlay').style.display = 'none';
}

</script>





<script type="text/javascript">
  var $input = $( '.timepicker' ).pickatime({ 
                                formatSubmit: 'HH:i', 
                                hiddenName: true, }) 
  var timepicker = $input.pickatime('picker') //picker.open() 
  var $input2 = $( '.datepicker' ).pickadate({ 
                                formatSubmit: 'dd-mm-yyyy', 
                                hiddenName: true, 
                                closeOnSelect: true,
                                closeOnClear: true, }) 
  var datepicker = $input2.pickadate('picker')
</script>


</body>
</html>