{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Message app</h1>
<script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
<script src="{% static "js/messageapp-jquery.js" %}"></script>

<p class="message_posted">{{message_posted.message}}</p><br>
<!--<p class="message_starttime">By {{message_posted.start_time}}</p><br>
<!--<p>{{my_time}}</p>-->
<br>

<form action="{% url 'messageapp:posted' %}" method="post">
  {% csrf_token %}
  message:<br>
 <input type="text" class="messageapp_text" name="message" rows="10" cols="30" required="Please fill some text.">
 </input><br>
  <button type="submit" id="Post_button">Post</button>
</form>

<p class="message_warning"></p>

{% endblock content %}