{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div>
        {% placeholder "feature" %}
    </div>

    <div>
        {% placeholder "content" %}
    </div>
{% endblock content %}