{% load staticfiles %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load cms_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>template page</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
		<link rel="stylesheet" href="{% static "bootstrap-3.3.6/dist/css/bootstrap.min.css" %}">
    	<script src="{% static "bootstrap-3.3.6/dist/js/bootstrap.min.js" %}"></script>
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
		{% block content %}
		    {% placeholder "content" %}
		{% endblock content %}
        {% render_block "js" %}
    </body>
</html>
