{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Demo</title>
    <!-- Core CSS - Include with every page -->
    <script src = "{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <script src = "{% static 'bootstrap-3.3.6/dist/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'bootstrap-3.3.6/dist/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Announce system</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'viewer:home' %}">home</a></li>
            <li><a href="{% url 'viewer:edit' %}">edit</a></li>
            <li><a href="{% url 'viewer:list_viewer' %}">manage user</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'viewer:logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
            {% block content %}
            {% endblock %}
    <!-- Core Scripts - Include with every page -->
    <script src = "{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <script src = "{% static 'bootstrap-3.3.6/dist/js/bootstrap.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
