{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>KMUTNB Engineer's Announcements</title>
<head>
<meta charset='UTF-8'>
<meta name='description' content="Engineer's annoucement">
<meta name='keywords' content='HTML,CSS,XML,JavaScript'>
<meta name='author' content="KMUTNB's student">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
<script type = "text/javascript" src = "{% static "js/viewer-jquery.js" %}"></script>
<link rel="stylesheet" href="{% static "bootstrap-3.3.6/dist/css/bootstrap.min.css" %}">
<script src="{% static "bootstrap-3.3.6/dist/js/bootstrap.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/src/DateTimePicker.css" %}">
<script type = "text/javascript" src="{% static "datetimepicker/src/DateTimePicker.js" %}"></script>
<link rel='stylesheet' href="{% static "FrontEnd/w3.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/w3-theme-black.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/Roboto.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/font-awesome/css/font-awesome-min.css" %}">
<link rel='stylesheet' href="{% static "FrontEnd/Font/Pridi-font.css" %}">


</head>
<style>


input[type=searchform] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('pic/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    
}
html,body,h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif}
.w3-sidenav a,.w3-sidenav h4{padding:12px;}
.w3-navbar a{padding-top:12px !important;padding-bottom:12px !important;}
</style>
<body  onload='changepages(1)'>
<!-- Navbar -->
<ul class='w3-navbar w3-theme w3-top w3-left-align w3-large w3-bottombar w3-border-red' style='z-index:4;'>
  <li class='w3-opennav w3-right w3-hide-large'>
    <a class='w3-hover-white w3-large w3-theme-l1' href='javascript:void(0)' onclick='sidenav_open()'><i class='fa fa-bars'></i></a>
  </li>
  <li><a href='{% url "viewer:main_page" %}' class='w3-theme-l1' onclick='changepages(1)'>Home</a></li>

</ul>


<!--login modal-->
<div id='IDlogin' class='w3-modal'>
  <div class='w3-modal-content w3-card-8 w3-animate-zoom' style='max-width:600px'>
    <div class='w3-center'><br>
      <span onclick="document.getElementById('IDlogin').style.display='none';document.getElementById('mySidenav').style.display='block';" class='w3-closebtn w3-hover-black w3-container w3-padding-8 w3-display-topright' title='Close Modal'>&times;</span>
      <img src='pic/KMUTNB-LOGO.jpg' alt='Avatar' style='width:30%' class='w3-circle w3-margin-top'>
    </div>

    <!-- login form -->

    <form class='w3-container' method='POST' action='index2.html'>
      <div class='w3-section'>
        <label><b>Username</b></label>
        <input class='w3-input w3-border w3-margin-bottom' type='text' placeholder='Enter Username' name='usrname' required>
        <label><b>Password</b></label>
        <input class='w3-input w3-border' type='password' placeholder='Enter Password' name='psw' required>
        <button class='w3-btn-block w3-green w3-section w3-padding' type='submit'>Login</button>
        
      </div>
    </form>
    <!-- forgot password ?-->
    <div class='w3-container w3-border-top w3-padding-16 w3-light-grey'>
      <span class='w3-padding w3-hide-small'>Forgot <a href='#'>password?</a></span>
      <button onclick="document.getElementById('IDlogin').style.display='none';document.getElementById('mySidenav').style.display='block'" type='button' class='w3-btn w3-red w3-right'>Cancel</button>
      
    </div>

  </div>
</div>







<!-- Sidenav for admin -->
<nav class='w3-sidenav w3-collapse w3-theme-l5 w3-animate-left' style='z-index:3;width:250px;margin-top:-20px;height:95%;' id='adminSidenav'>
  <a href='javascript:void(0)' onclick='sidenav_close()' class='w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large' title='close menu'>
    <i class='fa fa-remove'></i>
  </a>
  <h4><b>Menu</b></h4>

  <!--Manage button (only appear on admin's type user login)-->
  <div class='w3-padding'><button onclick="location.href='{% url "newsapp:show_all_screen" %}'" id='Manage-btn' class='w3-btn w3-indigo w3-large' style='width:100%'>Manage Announces<img src="{% static "FrontEnd/pic/cog.png" %}" style='margin-left:10px;width:25px;height:25px'></img></button></div>
    <!--Manage button (only appear on admin's type user login)-->
  <div class='w3-padding'><button onclick="location.href='{% url "viewer:list_viewer" %}'" id='usr-manage-btn' class='w3-btn w3-indigo w3-large' style='width:100%'>Manage Users<img src="{% static "FrontEnd/pic/cog.png" %}" style='margin-left:10px;width:25px;height:25px'></img></button></div>

 <div class='w3-padding'><button data-toggle="modal" data-target="#postModal" id='post-msg-btn' class='w3-btn w3-blue w3-large' style='width:100%'>Post Message</button></div>


  <div >
  <a href='{% url 'newsapp:to_search' %}' class='w3-right-align w3-hover-black w3-padding w3-section'><i class='fa fa-search'></i>Advance search </a>
  </div>
<!--logout button-->
  <a id='Logout-btn' class='w3-btn w3-red w3-large w3-padding w3-section' style='float:right' href="{% url 'viewer:logout' %}">Logout</a>

</nav>




<!-- Overlay effect when opening sidenav on small screens -->
<div class='w3-overlay w3-hide-large' onclick='sidenav_close()' style='cursor:pointer' title='close side menu' id='myOverlay'></div>

<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class='w3-main' style='margin-left:250px'>
  <div class='w3-row-padding' style='margin-top:70px'>
    
  </div>

<div class="w3-row">
<a href="{% url 'viewer:to_create_viewer' %}"><button class="w3-btn w3-green w3-section w3-border" style="margin-left:1%">+ Add user</button></a>
<a href="#" data-toggle="modal" data-target="#addcsvModal"><button class="w3-btn w3-green">add user by csv</button></a>
</div>

<div class="w3-row w3-section">
  <!--Search form-->
<form role="form" method="get" action="{% url 'viewer:search_viewer' %}">
{% csrf_token %}
<button type="submit" class="w3-right w3-btn w3-large w3-green w3-border" style="width:90px;">Search</button>
<input name="search_viewer" class="w3-xlarge w3-right" style="width:25%">
</form>

</div>
{% if error_message %}
  <p>{{error_message}}</p>
{% endif %}
<!--for loop to write table-->
<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable">
<thead>
<tr class="w3-indigo w3-border">
  <th class="w3-border">User Name</th>
  <th class="w3-border">First Name</th>
  <th class="w3-border">Last Name</th>
  <th class="w3-border">Status</th>
  <th class="w3-border">Action</th>
</tr>
</thead>
{% for user in users %}
<tr>
  <td class="w3-border">{{user.user.username}}</td>
  <td class="w3-border">{{user.user.first_name}}</td>
  <td class="w3-border">{{user.user.last_name}}</td>
  <td class="w3-border">
    {% if 'viewer.permission_viewer' in user.user.get_all_permissions %}
      active
    {% else %}
      limited
    {% endif %}  
  </td>
  <td class="w3-border"><a href="{% url 'viewer:allow_user' user.id %}"><button class="w3-btn w3-light-green w3-hover-black" style="margin-left:10%;width:70px">Allow</button></a>
  <a href="" data-toggle="modal" data-target="#disallowModal{{user.id}}"><button class="w3-btn w3-orange w3-hover-black" style="margin-left:1%;width:100px">Disallow</button></a>
  <a href="#" data-toggle="modal" data-target="#deleteModal{{user.id}}"><button class="w3-btn w3-red w3-hover-black" style="margin-left:1%;width:70px">Delete</button></a></td>

  <!-- Modal delete user -->
  <div id="deleteModal{{user.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">delete user</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure want to delete this user.</p>
        </div>
        <div class="modal-footer">
          <a href="{% url 'viewer:delete_viewer' user.id %}" name="delete_button" type="button" id="" class="btn btn-danger">delete</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

  </div>
  </div>

  <!-- Modal limited user -->
  <div id="disallowModal{{user.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">disallow user</h4>
        </div>
        <div class="modal-body">
          <p>Insert datetime for limit user.</p>
          <form action="{% url 'viewer:disallow_user' user.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="date_limit_field" data-field="date" value="" readonly>
        </div>
        <div class="modal-footer">
          <button type="submit" id="" class="btn btn-warning">Ok</a>
          </form>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

  </div>
  </div>

</tr>

{% endfor %}
</table>





<!-- END MAIN -->
</div>

  <!-- Modal post message -->
  <div id="postModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Post message</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
          <form action="{% url 'messageapp:posted' %}" method="post">
            {% csrf_token %}
            <label for="email">message:</label>
            <input name="message" type="text" class="form-control" id="email" required="Please fill some text.">
          </div>
        </div>
        <div class="modal-footer">
          <button name="post_button" type="submit" id="" class="btn btn-success">Post</button>
          </form>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

  </div>
  </div>

  <!-- Modal add user csv -->
  <div id="addcsvModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add user by csv</h4>
        </div>
        <div class="modal-body">
        <form name="addUserCSV" enctype="multipart/form-data" action="{% url 'viewer:add_user_csv' %}" method="POST">
        {% csrf_token %}
          <input type="file" name="userUploader"  style = "margin-left:20%;">
       
          <div name="alert-userUploader"></div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info" name="csv_submit">Upload</button>
        </form>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      
      </div>

    </div>
  </div>

<div id="datetimeInput"></div>

<script>

$.getScript("../../../static/datetimepicker/src/DateTimePicker.js", function() {
        $("#datetimeInput").DateTimePicker();
});

// Script to open and close the sidenav
function sidenav_open() {
    document.getElementById('adminSidenav').style.display = 'block';
    document.getElementById('myOverlay').style.display = 'block';
}
function sidenav_close() {
    document.getElementById('adminSidenav').style.display = 'none';
    document.getElementById('myOverlay').style.display = 'none';
}
//

</script>

</body>
</html>