{% extends 'base_viewer.html' %}

{% block content %}
 <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">


 <form role="form" method="post" action="{% url 'viewer:new' %}" >
 {% csrf_token %}
<div class="form-group">
  <label for="usr">Userame:</label>
  <input name="username" type="text" class="form-control" id="usr">
</div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input name="password" type="password" class="form-control" id="pwd">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>
</div>
</div>
</div>
</div>

{% endblock %}