{% csrf_token %}
{% if video %}
	<video width="800" controls>
		<source src="{{MEDIA_ROOT}}{{video.file_data.url}}" type="video/mp4">
	</video>
{% elif pdf  %}
	<object width="800" height="600" data="{{pdf.file_data.path}}" type="application/pdf">
	    <embed src="{{pdf.file_data.path}}" type="application/pdf">&nbsp; </embed>
	    alt :<a href="{{pdf.file_data.path}}">
	</object>

{% elif image %}
	{% load thumbnail %}
	{% thumbnail image.logo 600x800 crop %}

{% elif text %}
	 <div style="background-color:white; color:black; padding:20px;border-style: solid;border-color: green;">

	<h2>{{text.name}}</h2>
	<p>{{text.content}}</p>

	</div> 
{% endif %}
	<p>{{video.file_data.url}}</p><br>
	<p>{{pdf.file_data.url}}</p><br>
	<p>{{image.logo.url}}</p><br>



	<object width="800" height="600" data="{{pdf.file_data.path}}" type="application/pdf">
	    <embed src="{{pdf.file_data.path}}" type="application/pdf">&nbsp; </embed>
	    alt :<a href="{{pdf.file_data.path}}">
	</object>


	{% load thumbnail %}
	{% thumbnail image.logo 250x250 crop %}
	<img src="{% thumbnail image.logo 250x250 crop %}" alt="" />

	 <div style="background-color:white; color:black; padding:20px;border-style: solid;border-color: green;">

	<h2>{{text.name}}</h2>
	<p>{{text.content}}</p>

	<p>{{car.name}}</p>
	<p>{{car.id}}</p>
	<p>{{car.photo.url}}</p>
	<img src="{{car.photo.url}}" alt="" />
	<video width="800" controls>
		<source src="{{car.video.url}}" type="video/mp4">
	</video>

	<object width="800" height="600" data="{{car2.video.url}}" type="application/pdf">
	    <embed src="{{car2.video.url}}" type="application/pdf">&nbsp; </embed>
	    alt :<a href="{{car2.video.url}}">
	</object>
	</div> 
