{% load staticfiles %}
{% block content %}
<script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
<script src="{% static "js/newsapp-jquery.js" %}"></script>

	<h1>example page</h1>
	<div class="{{example_mark}}">
	{{example_content}}
	</div>
{% endblock content %}
