<h1>Create Page</h1>

<form action="{% url 'newsapp:create_announce_page' %}" method="post">
  {% csrf_token %}
  Title:<br>
  <input type="text" name="page_title">
  <br>
  <input type="submit" value="save">
  <a href="{% url 'newsapp:show_all_screen' %}">Cancel</a>
</form>