{% load staticfiles %}
{% block content %}
{{newsapp_page_content}}
<script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>

<script src="{% static "js/pdf_plugin-jquery.js" %}"></script>
<script src="{% static "js/messageapp-jquery.js" %}"></script> 

	<div class="newsapp_refresh_time" value="{{refresh_time}}"></div>
	<div class="newsapp_screen_name" value="{{screen_name}}"></div>
	<div class="newsapp_symbol_page" value="{{symbol_page}}"></div>
	<div class="newsapp_show_page"></div> <!-- mark that here is show page --> 
<div class="container-fluid">
	<div class="row" style="height: 4%;position: fixed;bottom: 0;width:100%">
		<div class="col-md-11" style="bottom:0px;
		background: #2980b9; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		">
			<div class="message_posted" style="color: white;margin-top: 0.3%;margin-bottom: 0.3%; font-size: 1.2em">ท่านสามารถแสดงความคิดเห็นได้ที่นี่ จาก ผู้ดูแลระบบ</div>
		</div>    
		<div class="col-md-1" style="bottom:0px;
		background: #FFFC19; /* fallback for old browsers */
		">
			<div class="message_time" style="margin-top: 0.3%;margin-bottom: 0.3%; font-size: 1.5em; text-align: center;"></div>
		</div> 
	</div>  

</div> 
<script type="text/javascript"> // control video plugin
	var preview_page = $("div.newsapp_show_page"); 
	console.log('video:' + preview_page.length.toString());
	if (preview_page.length > 0){ // if in show screen will set auto play, loop play and turn off control bar.
		$('video').attr('controls', "False"); // turn off control bar
		$('video').attr('loop', 'True'); // loop play
		$('video').attr('autoplay', "autoplay"); // set auto play
		{% if screen_sound %}
		$('video').attr('mute', 'True');
		{% endif %}
	} 

	///////////////////// check time to get news ///////////////
	var show_page = $("div.newsapp_show_page")
    if (show_page.length > 0){
		var refresh_time = 1000*parseInt($("div.newsapp_refresh_time").attr("value")); //Your delay in milliseconds
		console.log("Refresh time: " + refresh_time+", "+typeof(refresh_time));
		var target_url = "/newsapp/" + $("div.newsapp_screen_name").attr("value") + "/{{target_url}}/screen";
		//setTimeout( function(){ window.location.href = target_url; }, refresh_time);

		setTimeout( function(){ 
			doOnlineCheck(target_url); // check connection
			
		}, refresh_time);

		function doOnlineCheck(target_url){ // check server online
			var msg_data = {'key':'value'}
		    $.ajax({
		        url     : '../../../../newsapp/check_online.json',
		        type    : 'GET',
		        data    : {'msg': JSON.stringify(msg_data)},         
		        timeout : 5000,
		        success : function(msg){ // if online
		            var result = JSON.stringify(msg);
		            var data_obj = JSON.parse(result);
		            if(data_obj.msg=="success"){ // get valid data then update news
		            	console.log('valid response');
		            	if ( $("div.newsapp_symbol_page").attr("value") != "is_symbol_page"){ // if not be symbol page.
		            		window.location.href = target_url;
		            	}
		            	else{
		            		console.log("ask server is next news symbol page?");
		            		symbolPageCheck($("div.newsapp_screen_name").attr("value"), "{{target_url}}");
		            	}
		            }else{ // get invalid data then check connection again.
						console.log('invalid reasponse');
						setTimeout(function(){doOnlineCheck(target_url);}, 5000);
		            }
		 
		        }   ,
		        error   : function(){ // if offline then check connection again.
		        	console.log('Server can not be reached.');
		        	setTimeout(function(){doOnlineCheck(target_url);}, 5000);
		        }
		    });
		}

		function symbolPageCheck(screen, target){
			var symbol_data = {'screen':screen, 'target_url': target}
		    $.ajax({
		        url     : '../../../../newsapp/check_symbol_page.json',
		        type    : 'GET',
		        data    : {'symbol': JSON.stringify(symbol_data)},         
		        timeout : 5000,
		        success : function(msg){ // if online
		            var result = JSON.stringify(msg);
		            var data_obj = JSON.parse(result);
		            var next_time = parseInt(data_obj.refresh_time) *1000; // get new refresh time
		            if (data_obj.symbol_page != "symbol_page"){
		            	$("div.newsapp_symbol_page").attr("value", "");
		            }
		            console.log("request to check_symbol_page");
		 			setTimeout( function(){ doOnlineCheck("/newsapp/" + screen + "/" + target +"/screen");}, next_time);
		        }   ,
		        error   : function(){ // if offline
		        	console.log('Server can not be reached.');
		        	setTimeout(function(){doOnlineCheck(target_url);}, 5000);
		        }
		    });
		}

    }
    /////////////////////////////////////////////////////////////

</script>
{% endblock content %}