{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create news Program</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type = "text/javascript" src = "{% static "js/jquery-2.2.3.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "bootstrap-3.3.6/dist/css/bootstrap.min.css" %}">
    <script src="{% static "bootstrap-3.3.6/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/table-jquery.js" %}"></script>
	<link rel='stylesheet' href="{% static "FrontEnd/w3.css" %}">
	<link rel='stylesheet' href="{% static "FrontEnd/w3-theme-black.css" %}">
	<link rel='stylesheet' href="{% static "FrontEnd/Roboto.css" %}">
	<link rel='stylesheet' href="{% static "FrontEnd/font-awesome/css/font-awesome-min.css" %}">
	<link rel='stylesheet' href="{% static "FrontEnd/Font/Pridi-font.css" %}">
  </head>
<style>
input[type=searchform] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('pic/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
html,body,h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif}
.w3-sidenav a,.w3-sidenav h4{padding:12px;}
.w3-navbar a{padding-top:12px !important;padding-bottom:12px !important;}
</style>
<body>

<!-- Navbar -->
<ul class='w3-navbar w3-theme w3-top w3-left-align w3-large w3-bottombar w3-border-red' style='z-index:4;'>
  <li class='w3-opennav w3-right w3-hide-large'>
    <a class='w3-hover-white w3-large w3-theme-l1' href='javascript:void(0)' onclick='w3_open()'><i class='fa fa-bars'></i></a>
  </li>
  <li><a href="{% url 'viewer:main_page' %}">Home</a></li>
  <li><a href='#' class='w3-theme-l1'> --> Time table</a></li>
</ul>


<!-- Sidenav -->
<nav class='w3-sidenav w3-collapse w3-theme-l5 w3-animate-left' style='z-index:3;width:250px;margin-top:-20px' id='mySidenav'>
  <a href='javascript:void(0)' onclick='w3_close()' class='w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large' title='close menu'>
    <i class='fa fa-remove'></i>
  </a>

  <!--Manage button (only appear on admin's type user login)-->
<div style='margin-top:50px;text-align: center;'><button style="height: 80px" class='w3-btn w3-orange w3-xlarge w3-round-large w3-section' onclick="location.href='{% url 'newsapp:to_create_announce' %}'">New program</button></div>
  <div style='margin-top:10px;text-align: center;'><a href="{% url 'newsapp:show_all_screen' %}" class=' w3-hover-black  w3-large'>Screen status</a></div>
  <div style='text-align: center;'><a href="{% url 'newsapp:get_all_announce' %}" class=' w3-dark-grey w3-hover-black w3-large'>Programs</a></div>
  <div style='text-align: center;'><a href="{% url 'newsapp:view_screen' %}" class=' w3-hover-black w3-large'>Screens</a></div>

  <div >

<!--login button-->
  <a class="w3-btn w3-red w3-large w3-section" style="float:right" href="{% url 'viewer:logout' %}">Logout</a>
</nav>


<!-- Overlay effect when opening sidenav on small screens -->
<div class='w3-overlay w3-hide-large' onclick='w3_close()' style='cursor:pointer' title='close side menu' id='myOverlay'></div>

<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class='w3-main' style='margin-left:250px'>
  <div class='w3-row-padding' style='margin-top:70px'>
    
  </div>
  <header class='w3-container'>



    <!--Tags select-->
  </header>


  <div id='announce' >
    <!-- First Grid-->

  </div>


  <!-- Pagination -->


<!-- END MAIN -->
</div>

<script>
// Script to open and close the sidenav
function w3_open() {
    document.getElementById('mySidenav').style.display = 'block';
    document.getElementById('myOverlay').style.display = 'block';
}
 
function w3_close() {
    document.getElementById('mySidenav').style.display = 'none';
    document.getElementById('myOverlay').style.display = 'none';
}
</script>

<div class="container-fluid">
	<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-10">
			<h3>Time table page</h3>

			<table class="table table-striped" >
				<thead>
					<tr>
						<th>Program name</th>
						<th>start time</th>
						<th>end time</th>
						<th>screen</th>
						<th>menu</th>
					</tr>
				</thead>
				{% for news in table_news %}
					<tr>
						<td><a href="{% url 'newsapp:to_create_announce' news.id %}">{{news.name}}</a></td>
						<td>{{news.start_time}}</td>
						<td>{{news.end_time}}</td>
						<td>{{news.screen}}</td>
						<td>
							<a href="{% url 'newsapp:to_create_announce' news.id %}" style="color:#003366;"><span class="glyphicon glyphicon-pencil"></span> edit</a> 
							<a href="#" id="{{news.name}}" onclick="TargetSelect(this, {{news.id}})" style="color:#333333;"><span class="glyphicon glyphicon-duplicate"></span> copy </a>
							<a href="#" data-toggle="modal" data-target="#deleteModal{{news.id}}" style="color:#b51212;"><span class="glyphicon glyphicon-remove"></span> delete </a>
						</td>
					</tr>

					<!-- Modal delete program -->
					<div id="deleteModal{{news.id}}" class="modal fade" role="dialog">
					  <div class="modal-dialog">

					    <!-- Modal content-->
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4 class="modal-title">delete program</h4>
					      </div>
					      <div class="modal-body">
					        <p>Are you sure want to delete this program.</p>
					      </div>
					      <div class="modal-footer">
					        <a href="{% url 'newsapp:delete_announce' news.id %}" name="delete_button" type="button" id="" class="btn btn-danger">delete</a>
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>

					  </div>
					</div>

					<!-- Modal copy program -->
					<div id="copyModal{{news.id}}" class="modal fade" role="dialog">
					  <div class="modal-dialog">

					    <!-- Modal content-->
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4 class="modal-title">copy program</h4>
					      </div>
					      <div class="modal-body">
							<div class="form-group">
  								<label for="usr">Program name:</label>
  						      <form name="CopyProgram" action="{% url 'newsapp:copy_program' news.id %}" method="post">
						      {% csrf_token %}
  								<input name="copy_name" type="text" class="form-control" required="Please fill some content.">
							</div>
							{% if error_message %}
								<p style="color:red">{{error_message}}</p>
							{% endif %}
					      </div>
					      <div class="modal-footer">
					        <button name="duplicate_button" type="submit" class="btn btn-success">Duplicate</a>
					        </form>
					        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					      </div>
					    </div>

					  </div>
					</div>
				{% endfor %}
				
			</table>
		</div>
	</div>
</div>
{% if id_error %}
	<script>
		var err_modal = '#copyModal'+ '{{id_error}}';
		$(err_modal).modal();
	</script>
{% endif %}
</body>
</html>