{% extends 'base_viewer.html' %}

{% block content %}
  <a href="{% url 'viewer:to_create_viewer' %}" class="btn btn-default">NEW USER</a><br>

 <form role="form" method="get" action="{% url 'viewer:search_viewer' %}" >
 {% csrf_token %}
<div class="form-group">
  <label for="usr">Search:</label>
  <input name="search_viewer" type="text" class="form-control" id="usr">
</div>
  <button type="submit" class="btn btn-default">Search</button>
</form><br><br>

{% if error_message %}
  <p>{{error_message}}</p>
{% endif %}

<ul>
{% for user in users %}
  <li>
    <p><strong>Username: </strong>{{user.user.username}}</p>
    <p><strong>Firstname: </strong>{{user.user.first_name}}</p>
    <p><strong>Lastname: </strong>{{user.user.last_name}}</p>
    <a href="{% url 'viewer:to_edit_viewer' user.id %}">edit</a>
    <a href="{% url 'viewer:delete_viewer' user.id %}">delete</a>
  </li>
{% endfor %}
</ul>

{% endblock %}