<form action="{% url 'newsapp:search_news' %}" method="POST">
{% csrf_token %}
	Name: <input type="text" name="search_name"><br>
	Begin: <input type="text" name="begin_date"><input type="text" name="begin_time"><br>
	End: <input type="text" name="end_date"><input type="text" name="end_time"><br>

    <select name="search_screen">
    	<option value="">all</option>
        {% for each_screen in screens %}
            <option value="{{each_screen.name}}">{{each_screen.name}}</option>
        {% endfor %}
    </select><br>

  	<input type="checkbox" name="tag1" value="ประกาศภาควิชา">ประกาศภาควิชา
  	<input type="checkbox" name="tag2" value="ประกาศกิจกรรม">ประกาศกิจกรรม 
  	<input type="checkbox" name="tag3" value="ประกาศทั่วไป">ประกาศทั่วไป
  	<input type="checkbox" name="tag4" value="ประกาศรับสมัครงาน/ฝึกงาน">ประกาศรับสมัครงาน/ฝึกงาน
	<br><br><input type="submit">
</form><br><br>

{% if not_found %}
	<p>Your news not found.</p>
{% endif %}

<ul>
{% for page in news_geten %}
    <li><p>{{forloop.counter}}</p>
        <a href="{{page.url}}" target="_blank" name="link_page">
        {% if page.picture %}
        <img src="{{page.picture.url}}" width="180px" height="120px">
        {% endif %}
        </a>
    </li>
{% endfor %}
</ul>