<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
<h1>{{ instance.poll.question }}</h1>

<form action="{% url 'polls:vote' instance.poll.id %}" method="post">
	{% csrf_token %}
	<div class="form-group">
		{% for choice in instance.poll.choice_set.all %}
			<div class="radio">
				<label>
					<input type="radio" name="choice" value="{{ choice.id }}">
					{{ choice.choice_text}}
				</label>
			</div>
		{% endfor %}
	</div>
	<input type="submit" value="Vote" class="btn btn-primary" />
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>