{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}
<h1>Hello Article</h1>
<ul>
 <li>{{ instance.article.translations }}</li>
 <li>{{ instance.article.publishing_date }}</li>
 <li>{% render_model instance.article "lead_in" %}</li>
</ul>
